$bodysize:14px;//全局字体
$headercolor:#0089dc;//头部颜色

.header{
	width:100%;
	min-height:35px;
	background:$headercolor;
	display:flex;
	.top-cate-wrapper{
		width:330px;
		overflow:hidden;
		flex:6;
		ul{
			margin-left:10px;
			clear:both;
			overflow:hidden;
			li{
				float:left;
				padding-top:10px;
				padding-right:22px;
				color:#fff;
				&.active{
					span{
						border-bottom:2px solid #fff;
						opacity:1;
					}
				}
				span{
					border-bottom:2px solid $headercolor;
					font-size:$bodysize;
					display:block;
					opacity:.7;
				}
			}
		}
	}
	.top-cate-op{
		width:45px;
		line-height:35px;
		background:url('../images/down.png') center 8px no-repeat;
		background-size:20px 20px;
		text-align:center;
		flex:1;
		border-left:1px solid #0581cc;
	}

	.top-cate-all{
		position:fixed;
		z-index:999;
		width:100%;
		height:100vh;
		background:rgba(0,0,0,.3);
		font-size:$bodysize;
		.categories{
			width:100%;
			background:#f9f9f9;
			.categories-top{
				padding:0 8px 0 15px;
				line-height:35px;
				background:#f9f9f9;
				.close{
					width:45px;
					min-height:35px;
					float:right;
					background:url('../images/close.png') 16px center no-repeat;
					background-size:20px 20px;
				}
			}
			.categories-content{
				height:420px;
				overflow:hidden;
				display:flex;
				background-color: #fff;
				color:#666;
				.content-first{
					min-width:130px;
					flex:1;
					padding-right:10px;
					.wrapper{
						height:100%;
						overflow:hidden;
						.content{
							height:48*20px;
							li{
								box-sizing:border-box;
								line-height:48px;
								background:#f9f9f9;
								clear:both;
								overflow:hidden;
								span{
									padding-left:20px;
								}
								&.active{
									background:#fff;
									span{
										border-left:4px solid #2395ff;
									}
								}
								i{
									font-style:normal;
									border:1px solid #9999991a;
									font-size:12px;
									border-radius:10px;
									float:right;
									line-height:12px;
									margin-top:18px;
									margin-right:10px;
								}
							}
						}
					}	
				}
				.content-second{
					padding-left:10px;
					padding-right:10px;
					flex: 2;
					color:#666;
					.wrapper{
						height:100%;
						overflow:hidden;
						.content{
							height:48*20px;
							li{
								line-height:48px;
								&.active{
									span{
										color:#2395ff;
									}
									i{
										font-style:normal;
										border:1px solid #2395ff;
										background:#2395ff;
										color:#fff;
									}
								}
								i{
									font-style:normal;
									border:1px solid #9999991a;
									border-radius:10px;
									font-size:12px;
									float:right;
									line-height:12px;
									margin-top:18px;
									margin-right:10px;
								}
								img{
									display:inline-block;
									width:37px;
									height:37px;
									vertical-align:middle;
									margin-right:15px;
								}
							}
						}
					}
				}
			}
		}
	}
}

// footer的背景图片样式
$bg:url('../images/cur-index.png') url('../images/indent.png') url('../images/mine.png');

$i:1;
@each $index in $bg{
	.a#{$i}{
		background-image:$index;
		background-repeat:no-repeat;
		background-size:20px 20px;
		background-position: center 2px;
	}
	$i:$i+1;
}