$radiusSize:5px;

.header{
	position:reletive;
	width:100%;
	min-height:68px;
	.header_bg{
		width:100%;
		height:68px;
		position:absolute;
		left:0;
		top:0;
		background:rgba(119,103,137,.43);
		span{
			display:inline-block;
			margin-left:10px;
			margin-top:5px;
			width:25px;
			height:25px;
			background:url('../images/left.png') center center no-repeat;
			background-size:24px 24px;
		}
	}
	.logo{
		width:100%;
		position:absolute;
		left:50%;
		top:22px;
		margin-left:-39px;
		img{
			width:65px;
			height:65px;
			border-radius:2px;
			border:1px solid rgba(119,103,137,.1);
		}
	}
}

.message{
	width:100%;
	font-size:12px;
	text-align:center;
	.info{
		margin:0 auto;
		padding:30px 15px 0 15px;
		h1{
			font-size:21px;
		}
		p{
			width:100%;
			margin-top:6px;
			span{
				padding-right:4px;
				color:#333;
			}
		}
		.note{
			width:218px;
			margin:0 auto;
			margin-top:6px;
			overflow:hidden;
			white-space:nowrap;
			text-overflow:ellipsis;
			color:#999;
		}
	}
	.activities{
		.explain{
			margin:0 24px;
			margin-top:10px;
			border:1px solid rgba(0,0,0,.04);
			padding:5px 8px;
			display:flex;
			justify-content:space-between;
			span{
				color:#666;
				i{
					font-style:normal;
					display:inline-block;
					width:27px;
					line-height:16px;
					background:rgba(226, 42, 23, 0.79);
					color:#fff;
					margin-right:5px;
				}
			}
		}
		.redEnvelope{
			margin-top:8px;
			a{
				display:inline-block;
				margin:0 7px;
				line-height:26px;
				.crown{
					display:inline-block;
					width:16px;
					padding-left:6px;
					background:#dea11a4d;
					img{
						width:12px;
						height:12px;
						vertical-align:middle;
						margin-bottom:4px;
						background:yellow;
					}
				}
				p{
					display:inline-block;
					padding:0 4px;
					border-top-right-radius:$radiusSize;
					border-bottom-right-radius:$radiusSize;
					span{
						font-size:14px;
					}
				}
				i{
					display:inline-block;
					line-height:26px;
					font-style:normal;
					border-top-left-radius:$radiusSize;
					border-bottom-left-radius:$radiusSize;
				}
			}
			.left{
				border:1px solid #dea11a4d;
				color: #594519;
				p{
					background:#dea11a4d;
				}
				i{
					background:#dea11a4d;
					padding:0 11px 0 4px;
				}
			}
			.right{
				border:1px solid #ffc0cb30;
				p{
					background:#ffc0cb30;
					span{
						color:#ff5339;
					}
				}
				i{
					padding:0 4px 0 12px;
					background:#ffc0cb30;
				}
			}
		}
	}
}

.tab{
	width:100%;
	line-height:40px;
	text-align:center;
	display:flex;
	font-size:16px;
	margin-top:8px;
	a{
		flex:1;
		&.on{
			span{
				color:#333;
				border-bottom:2px solid #2395ff;
			}
		}
		span{
			display:inline-block;
			line-height:40px;
			color:#666;
			font-weight:700;
		}
	}
}
.res{
	display:none;
	&.on{
		display:block;
	}
}
.evaluation{
	display:none;
	&.on{
		display:block;
	}
}
.merchants{
	display:none;
	&.on{
		display:block;
	}
}