$radiusSize:5px;

.header{
	position:reletive;
	width:100%;
	min-height:68px;
	.header_bg{
		width:100%;
		height:68px;
		position:absolute;
		left:0;
		top:0;
		background:rgba(119,103,137,.43);
		span{
			display:inline-block;
			margin-left:10px;
			margin-top:5px;
			width:25px;
			height:25px;
			background:url('../images/left.png') center center no-repeat;
			background-size:24px 24px;
		}
	}
	.logo{
		img{
			width:65px;
			height:65px;
			border-radius:2px;
			border:1px solid rgba(119,103,137,.1);
			position:absolute;
			left:50%;
			top:22px;
			margin-left:-39px;
		}
	}
}

.message{
	width:100%;
	font-size:12px;
	text-align:center;
	.info{
		margin:0 auto;
		padding:30px 15px 0 15px;
		h1{
			font-size:21px;
		}
		p{
			width:100%;
			margin-top:6px;
			span{
				padding-right:4px;
				color:#333;
			}
		}
		.note{
			width:218px;
			margin:0 auto;
			margin-top:6px;
			overflow:hidden;
			white-space:nowrap;
			text-overflow:ellipsis;
			color:#999;
		}
	}
	.activities{
		.explain{
			margin:0 24px;
			margin-top:10px;
			border:1px solid rgba(0,0,0,.04);
			padding:5px 8px;
			display:flex;
			justify-content:space-between;
			span{
				color:#666;
				i{
					font-style:normal;
					display:inline-block;
					width:27px;
					line-height:16px;
					background:rgba(226, 42, 23, 0.79);
					color:#fff;
					margin-right:5px;
				}
			}
		}
		.redEnvelope{
			margin-top:8px;
			a{
				display:inline-block;
				margin:0 7px;
				line-height:26px;
				.crown{
					display:inline-block;
					width:16px;
					padding-left:6px;
					background:#dea11a4d;
					img{
						width:12px;
						height:12px;
						vertical-align:middle;
						margin-bottom:4px;
						background:yellow;
					}
				}
				p{
					display:inline-block;
					padding:0 4px;
					border-top-right-radius:$radiusSize;
					border-bottom-right-radius:$radiusSize;
					span{
						font-size:14px;
					}
				}
				i{
					display:inline-block;
					line-height:26px;
					font-style:normal;
					border-top-left-radius:$radiusSize;
					border-bottom-left-radius:$radiusSize;
				}
			}
			.left{
				border:1px solid #dea11a4d;
				color: #594519;
				p{
					background:#dea11a4d;
				}
				i{
					background:#dea11a4d;
					padding:0 11px 0 4px;
				}
			}
			.right{
				border:1px solid #ffc0cb30;
				p{
					background:#ffc0cb30;
					span{
						color:#ff5339;
					}
				}
				i{
					padding:0 4px 0 12px;
					background:#ffc0cb30;
				}
			}
		}
	}
}

.tab{
	width:100%;
	line-height:40px;
	text-align:center;
	display:flex;
	font-size:16px;
	margin-top:8px;
	border-bottom:1px solid #eee;
	a{
		flex:1;
		&.on{
			span{
				color:#333;
				border-bottom:2px solid #2395ff;
			}
		}
		span{
			display:inline-block;
			line-height:40px;
			color:#666;
			font-weight:700;
		}
	}
}
.res{
	width:100%;
	display:none;
	font-size:14px;
	&.on{
		display:block;
	}
	.main{
		width:100%;
		.nav-left{
			display:inline-block;
		ul{
			li{
				width:70px;
				line-height:14px;
				padding:18px 8px;
				border-bottom:1px solid #e8e8e8;
				background:#eeeeee85;
				color:#666;
				&.on{
					background:0;
					color:#000;
				}
				img{
					background:green;
					width:13px;
					height:13px;
					vertical-align:middle;
					margin-right:3px;
					margin-bottom:3px;
					}
				}
			}
		}
		.res-wrapper{
			display:inline-block;
			width: calc(100vw - 86px - 20px);
			margin-left:10px;
			vertical-align:top;
			.content{
				.res-item{
					.title{
						padding:7px 0;
						line-height:14px;
						border-bottom:1px solid #eeeeee4d;
						span{
							margin-right:5px;
						}
						p{
							color:#666;
							font-size:12px;
							display:inline-block;
						}
					}
					ul{
						font-size:0;
						li{
							margin-top:10px;
							display:flex;
							img{
								width:76px;
								height:76px;
								background:red;
							}
							.text{
								flex:1;
								margin-left:10px;
								margin-right:20px;
								h2{
									font-size:16px;
									margin-bottom:3px;
								}
								&>p{
									width:180px;
									font-size:12px;
									color:#666;
									overflow:hidden;
									white-space:nowrap;
									text-overflow:ellipsis;
									margin-bottom:3px;
								}
								.sale{
									margin-bottom:5px;
									span{
										font-size:14px;
										margin-right:10px;
									}
								}
								.discount{
									display:inline-block;
									span{
										line-height:16px;
										display:inline-block;
										font-size:12px;
										color:#fff;
										background-image: linear-gradient(90deg,#ff7416,#ff3c15 98%);
										border: 2px solid #ff3c15;
										border-right: none;
										padding:0 2px;
									}
									i{
										font-style:normal;
										font-size:12px;
										color: #f07373;
									    border: 2px solid #ff3c15;
									    border-left: none;
									    padding-left:2px;
									}
								}
								.buy{
									font-size:12px;
									display:flex;
									p{
										flex:2;
										span{
											font-size:16px;
											font-weight:700;
											color:#f60;
										}
										i{
											font-style:normal;
											color:#666;
											text-decoration:line-through;
										}
									}
									.btn{
										flex:1;
										text-align:right;
										span{
											display:inline-block;
											width:20px;
											height:20px;
											background:#2395ff;
											color:#fff;
											font-size:16px;
											font-weight:700;
											text-align:center;
											line-height:20px;
											border-radius:50%;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
	
.evaluation{
	display:none;
	&.on{
		display:block;
	}
}
.merchants{
	display:none;
	&.on{
		display:block;
	}
}


.bottom{
	width:100%;
	position:fixed;
	left:0;
	bottom:0;
	background:rgba(61,61,63,.9);
	.full-back{
		background:#fffad6;
		opacity:.96;
		border-top: 1px solid #f9e8a3;
		font-size:12px;
		text-align:center;
		line-height:20px;
	}
	.sum{
		padding-left:79px;
		display:flex;
		align-items:center;
		.consumption{
			flex:1;
			h3{
				font-size:18px;
				font-weight:400;
				color:#fff;
				line-height:21px;
			}
			p{
				font-size:12px;
				color:#aaa;
				line-height:12px;
			}
		}
		a{
			display:block;
			width:105px;
			line-height:48px;
			span{
				display:block;
				font-size:16px;
				font-weight:bold;
				color:#fff;
				text-align:center;
			}
		}
	}
}